.home {
  height: 100vh;
  .mobile-bottom-nav {
    position: fixed;
    bottom: 3vh;
  }
  .logo-container {
    position: absolute;
    top: 0;
    left: 0;
    img {
      width: 120px;
    }
  }
  .bg {
    background-image: url(../../images/space.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 120vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    .spaceship {
      background-image: url(../../images/spaceship-desktop.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 490px;
      width: 750px;
      margin: 15vh 0 0 calc(-335px + 35%);

      transform: rotate(90deg);
      .stand-button {
        background-color: var(--secondary-color);
        border-radius: 100%;

        width: 24px;
        transform: rotate(-90deg);
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        &:hover {
          background-color: var(--primary-color);
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .home {
    .bg {
      height: 100vh;

      .spaceship {
        padding: 0;
        margin: 0 auto;
        position: relative;
        transform: unset;
        width: 130vh;
        height: 85vh;

        .stand-button {
          width: 25px;
          height: 25px;
          font-size: 12px;
          transform: unset;
        }
      }
    }
  }
}
