.stand-container {
  height: 100vh;
  position: relative;
  background-image: url('../../images/celbg.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  .logo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    .logo {
      width: 130px;
    }
  }
  .coins-container {
    background-color: white;
    width: 55px;
    height: 55px;

    margin: 5px 5px 5px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: relative;
    &::before {
      content: '';
      background-image: url('../../images/coins.svg');
      position: absolute;
      top: -12px;
      left: -45px;
      background-size: contain;
      width: 101px;
      height: 32px;
      background-repeat: no-repeat;
    }
  }

  .mobile-bottom-nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }
}

.desk {
  background-image: url('../../images/desk-mobile.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 75px;
  background-size: contain;
  width: 230px;
  position: absolute;
  bottom: 13vh;
  left: calc(50% - 115px);
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 80%;
    max-height: 90%;
    object-fit: contain;
  }
}

.icon-button {
  background-color: var(--primary-color);
  width: 55px;
  height: 55px;
  margin: 5px;
  z-index: 200;
  // padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  svg {
    height: 60%;
    width: 60%;
    // height: 7;
  }
  img {
    height: 70%;
    width: 75%;
  }
  &:hover {
    background-color: var(--secondary-color);
  }
}

@media screen and (min-width: 600px) {
  .icon-button {
    width: 80px;
    height: 80px;
    margin: 5px;
  }

  .desk {
    background-image: url('../../images/desk-tb-dsk.svg');
    height: 300px;
    width: 470px;
    bottom: 21vh;
    left: calc(50% - 235px);
  }

  .stand-container {
    background-image: url('../../images/pcbg.png');
    background-position: center;
    background-size: cover;
    .logo-container {
      // // height: auto;
      // position: absolute;
      // bottom: 0;
      // top: unset;
      // left: unset;
      // width: unset;
      // right: 10px;
      // height: 170px;

      .logo {
        width: 250px;
        object-fit: contain;
      }
    }

    .coins-container {
      width: 80px;
      height: 80px;
      &:before {
        top: -30px;
        left: -90px;
        width: 200px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .mobile-bottom-nav {
      justify-content: center;
      bottom: 30px;
    }
  }
}

@media screen and (min-width: 800px) {
  .logo-container {
    // height: auto;
    position: absolute !important;
    bottom: 0 !important;
    top: unset !important;
    left: unset !important;
    width: unset !important;
    right: 10px !important;
    height: 170px !important;

    .logo {
      width: 200px !important;
      object-fit: contain !important;
    }
  }
}

@media screen and (min-width: 1440px) {
  .desk {
    background-image: url('../../images/desk-tb-dsk.svg');
    height: 300px;
    width: 470px;
    bottom: 14%;
    z-index: 0;
    left: calc(50% - 235px);
  }
}
