.content-container.ticket-modal {
  text-align: center;
  p {
    color: var(--primary-color);
    margin: 20px 0;
  }
  a {
    margin-top: 40px;
    background-color: #525453;
    color: white;
    border: 2px solid var(--primary-color);
    padding: 10px;
    border-radius: 50px;
  }
}
