.App {
  text-align: center;
  min-height: 100%;
}

html,
body,
#root {
  height: 100%;
}


.main > * {
  font-family: 'ErasITC-Bold';
}
.front-modal * {
  font-family: 'ErasITC-Bold';
}

.front-modal {
  .content-container {
    width: 90%;
    margin: 50px auto;
    h2 {
      color: var(--secondary-color);
      text-align: center;
      margin-bottom: 20px;
    }
  }
}

@font-face {
  font-family: ErasITC-Bold;
  src: url('./fonts/Eras-Bold-ITC_15884.ttf');
}
